[Unit]
Description=Brewferm Sensors Controller
After=mariadb.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/brewferm/sensors.py > /home/pi/brewferm/logs/sensors.log 2>&1'
Restart=always
RestartSec=30s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
