[Unit]
Description=Brewferm Controller
After=brewferm-sensors.service

[Service]
User=pi
Group=pi
ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/brewferm/controller.py > /home/pi/brewferm/logs/controller.log 2>&1'
Restart=always
RestartSec=30s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
