[Unit]
Description=Brewferm Relays Controller
After=brewferm-sensors.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/python3 /home/pi/brewferm/relays.py > /home/pi/brewferm/logs/relays.log 2>&1'
Restart=always
RestartSec=30s
KillMode=process
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
